#menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 358px;
    height: 196px;
    background: #CCCCCC;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
    #menu ul{
        display:block;
        width:100%;
        height:auto;
        margin:0px;
        padding:0px;
        list-style:none;
        position:relative;
    }
        #menu ul li{
            display:block; 
            width:100%; 
            height:auto; 
            position:relative;
        }
            #menu ul li a{
                position:relative;
                display:block;
                width:100%;
                height:auto;
                box-sizing:border-box;
                padding:10px 15px;
                text-decoration:none;
                font-family: Roboto;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;

            }
            #menu ul li a:hover{
                background: #9C9C9C;
            }
            #menu ul li a:active{
                color:#0000d0;
            }